[submodule "backend/transactions-encryptor/encryption-submodule"]
	path = backend/transactions-encryptor/encryption-submodule
	url = https://github.com/erancha/kms-deks-redis-dynamodb-based-encryption.git
